In [1]:
import pandas as pd

In [3]:
csv = pd.read_csv("cities.csv")
df = pd.DataFrame(csv)
df
del df['Unnamed: 0']
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hobart,-42.8794,147.3294,73.40,53,98,8.05,AU,1613748215
1,brae,60.3964,-1.3530,44.60,87,75,28.77,GB,1613748375
2,beni suef,29.0731,31.0979,63.64,42,84,8.16,EG,1613748375
3,ostrovnoy,68.0531,39.5131,-1.57,91,98,3.09,RU,1613748376
4,saskylakh,71.9167,114.0833,-26.61,85,86,7.16,RU,1613748376
...,...,...,...,...,...,...,...,...,...
558,mpika,-11.8343,31.4529,74.12,83,100,1.21,ZM,1613748474
559,ancud,-41.8697,-73.8203,61.00,47,75,11.50,CL,1613748474
560,port augusta,-32.5000,137.7667,78.01,83,0,18.41,AU,1613748475
561,turayf,31.6725,38.6637,51.80,50,40,11.50,SA,1613748475
562,hobyo,5.3505,48.5268,77.63,72,94,18.79,SO,1613748475

In [4]:
df.to_html('cities.html')